<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <ol>
    <% @habits.each do |habit| %>
      <li class="navbar-brand"><%= link_to habit.name, habit_path(habit)%></li>
    <% end %>
    </ol>
  </div>
</div>